<!-- NOT IMPLEMENTED -->
<!-- {% load static %} -->


<nav class="navbar navbar-light  justify-content-between">
    <div class="col-6">
    </div>

    <div class="col-2 ">
        <div class="nav-item dropdown float-right">

            <h8
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                {% if user.gender == 'female' %}
                    <img src="{% static '/assets/images/user/avatar-1.jpg' %}"
                         style="width:30px;height:30px;border-radius:50%;"
                         alt="">
                {% else %}
                    <img src="{% static '/assets/images/user/avatar-2.jpg' %}"
                         style="width:30px;height:30px;border-radius:50%;"
                         alt="">

                {% endif %}

                {{ user.username}}

            </h8>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">登出</a>
            </div>
        </div>
    </div>
</nav>
