<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a target="_blank"
               href="" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div>
                <span class="b-title">Salvation</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">

                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item ">
                    <a href="{% url 'index' %}" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-home"></i></span><span class="pcoded-mtext">首页</span></a>
                </li>


                <li class="nav-item ">
                    <a href="{% url 'userlist' %}" class="nav-link ">
                            <span class="pcoded-micon"><i
                                    class="fa fa-users"></i>
                        </span>
                        <span class="pcoded-mtext">用户管理</span></a>
                </li>


                <!-- 项目管理 -->

                <li class="nav-item pcoded-hasmenu ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span
                            class="pcoded-mtext">项目管理</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="{% url 'devlist' %}" class="">部署环境</a></li>
                        <li class=""><a href="{% url 'modulelist' %}" class="">模块信息</a></li>
                        <li class=""><a href="{% url 'prlist' %}" class="">项目信息</a></li>

                    </ul>
                </li>

                <!-- Management Category -->

                <li class="nav-item pcoded-hasmenu ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="fa fa-bars"></i></span><span
                            class="pcoded-mtext">用例管理</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="{% url 'eln' %}" class="">用例详情</a></li>
                    </ul>
                </li>

                <li class="nav-item pcoded-hasmenu ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                            class="fa fa-tasks"></i></span><span
                            class="pcoded-mtext">任务管理</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="{% url 'checklist' %}" class="">任务详情</a></li>
                    </ul>
                </li>

                <li class="nav-item pcoded-hasmenu ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                            class="fa fa-tasks"></i></span><span
                            class="pcoded-mtext">工具合集</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="{% url 'checklist' %}" class="">dependency-check</a></li>
                        <li class=""><a href="{% url 'aes' %}" class="">AES加解密</a></li>
                        <li class=""><a href="#" class="">南航生成账号</a></li>
                    </ul>

                </li>

                <li class="nav-item ">
                    <a href="" class="nav-link ">
                        <span class="pcoded-micon">
                            <i class="fa fa-bookmark"></i>
                        </span><span class="pcoded-mtext">记录操作 </span></a>
                </li>

                {% if user.is_superuser %}  <!-- 管理员权限 -->
                    <li class="nav-item ">
                        <a href="/admin/" class="nav-link ">
                        <span class="pcoded-micon"><i
                                class="fas fa-shield-alt"></i>
                    </span>
                            <span class="pcoded-mtext">后台管理</span></a>
                    </li>
                {% endif %}

                <li data-username="Disabled Menu" class="nav-item">
                    <a href="" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
