{% extends "layouts/base.html" %}

{% load  static crispy_forms_tags %}
{% block title %}AES 加解密 {% endblock %}
<head>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}


{% block content %}

    {% block fromadd %}
        <div class="card">
            <div class="card-header">
                <h5 class="m-b-10">
                                        <span><i class="feather icon-box">  <a
                                                href="{% url 'index' %}">首页</a></i></span>
                </h5>
                <span><i class="fa fa-map-marker"></i> AES加解密</span>
            </div>
            <div class="card-block table-border-style">
                <form id="frm1" method="GET" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h5 class="col-sm- col-xl-8">公共key :</h5>
                    {% if data.key == 'rk.=278ZAmb~0&]F' %}
                        <div class="col-sm- col-xl-8">
                            <input name="key" class="form-control" required="required" maxlength="30"
                                   placeholder="公共key" value='rk.=278ZAmb~0&]F'>
                        </div>
                    {% else %}
                        <div class="col-sm- col-xl-8">
                            <input name="key" class="form-control" required="required" maxlength="30"
                                   placeholder="公共key" value={{ data.key }}>
                        </div>
                    {% endif %}
                    <br>

                    <h5 class="col-sm- col-xl-8">偏移量iv :</h5>
                    {% if data.key == 'rk.=278ZAmb~0&]F' %}
                        <div class="col-sm- col-xl-8">
                            <input name="iv" class="form-control" required="required" maxlength="30" id="iv"
                                   placeholder="偏移量iv" value='1dd89`X3nVfmchm?'>
                        </div>
                    {% else %}
                        <div class="col-sm- col-xl-8">
                            <input name="iv" class="form-control" required="required" maxlength="30"
                                   placeholder="偏移量iv" value={{ data.iv }}>
                        </div>
                    {% endif %}
                    <br>

                    <h5 class="col-sm- col-xl-8">加解密参数 :</h5>
                    {% if data.data == Node %}
                        <div class="col-sm- col-xl-8">
                        <textarea class="form-control max-textarea" name="data" placeholder="请输入需要加解密的参数"
                                  required="required"
                                  maxlength="255" rows="6"></textarea>
                        </div>
                    {% else %}
                        <div class="col-sm- col-xl-8">
                        <textarea class="form-control max-textarea" name="data" placeholder="请输入需要加解密的参数"
                                  required="required"
                                  maxlength="255" rows="6">{{ data.data }}</textarea>
                        </div>
                    {% endif %}
                    <br>

                    <h5 class="col-sm- col-xl-8">加解密结果 :</h5>
                    {% if data.code == Node %}
                        <div class="col-sm-12 col-xl-8">
                        <textarea class="form-control max-textarea" name="code" placeholder="已经处理完的加解密结果"
                                  maxlength="255" rows="3" readonly="readonly"></textarea>
                        </div>
                    {% else %}
                        <div class="col-sm-12 col-xl-8">
                        <textarea class="form-control max-textarea" name="code" placeholder="已经处理完的加解密结果"
                                  maxlength="255" rows="3" id="biao1" readonly="readonly">{{ data.code }}</textarea>
                        </div>
                    {% endif %}
                    <br>

                    <div class="col-sm- col-xl-8">
                        <input type="submit" class="btn btn-primary" name="submit" value="加密"/>
                        <input type="submit" class="btn btn-success" name="submit" value="解密"/>
                        <input type="button" class="btn btn-info" onclick="copytext()" value="复制">
{#                        <input type="reset" class="btn btn-secondary"  value="重置"/>#}
                        <input type="submit" class="btn btn-secondary" name="submit" value="重置"/>

                    </div>

                </form>
                {#            复制弹框#}
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                {{ data.code }} &nbsp;&nbsp;复制成功！
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

            </div>
        </div>
    {% endblock fromadd %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script>
        function copytext() {
            var copytext2 = document.getElementById("biao1");
            copytext2.select();
            document.execCommand("copy");
            alert2();
            {#alert(copytext2.value + ' 复制成功！',);#}
        }

        function alert2() {
            $('#myModal').modal('show');
            setTimeout(function () {
                $('#myModal').modal('hide');
            }, 1000);
        }
    </script>


{% endblock javascripts %}

