{% extends "layouts/base.html" %}
{% load project_extras static  %}
{% block title %} 项目列表 {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!-- [ basic-table ] start -->
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5><span><i  class="feather icon-home">  <a href="{% url 'index' %}">首页</a></i></span>
                                    </h5>
                                    <span><i  class="fa fa-map-marker"></i> 项目列表</span>
                                </div>

                                <div class="card-block">
                                    <div class='row'>
                                        <div class="col-8">

                                            <div class="col-6">
                                                <div class="btn-group ">
                                                    <a href="{% url 'project_add' %}" class='btn btn-primary'>新增项目</a>
                                                </div>

                                                <div class="btn-group ">
                                                    {% if created_by == '' %}
                                                        <button class="btn btn-light dropdown-toggle" type="button"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">项目状态
                                                        </button>
                                                    {% else %}
                                                        <button class="btn btn-light dropdown-toggle" type="button"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">{{ created_by }} </button>
                                                    {% endif %}
                                                    <div class="dropdown-menu">

                                                        <a class="dropdown-item"
                                                           href="{% url 'prlist' %}?created_by={{ True }}&search={{ search }}">正常</a>
                                                        <a class="dropdown-item"
                                                           href="{% url 'prlist' %}?created_by={{ False }}&search={{ search }}">结项</a>
                                                    </div>
                                                </div>

                                            </div>


                                        </div>

                                        <div class="col-4">
                                            <form class="form-inline mb-2">
                                                <div class="form-group mx-sm-3 mb-2">
                                                    <input type="text"
                                                           class="form-control"
                                                           name="search" ,
                                                           id='search' ,
                                                           placeholder="项目名称/负责人/创建人" ,
                                                           value=>
                                                </div>
                                                <button type="submit" class="btn btn-secondary mb-2 btn-sm">搜索</button>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="table-responsive ">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>id</th>
                                                <th>项目名称</th>
                                                <th>项目状态</th>
                                                <th>项目版本</th>
                                                <th>项目负责人</th>
                                                <th>参与人员</th>
                                                <th>创建时间</th>
                                                <th>更新时间</th>
                                                <th>维护人</th>
                                                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% for p in project %}
                                                <tr>
                                                    <th scope="row">{{ p.id }}</th>
                                                    <td><a href="{% url 'prldetai' p.pk %}">{{ p.project_name }}</a>
                                                    </td>
                                                    {% if p.isenabled %}
                                                        <td>正常</td>
                                                    {% else %}
                                                        <td>结项</td>
                                                    {% endif %}
                                                    <td>{{ p.version }}</td>
                                                    {% if p.prjcet_personliable.name == None %}
                                                        <td>{{ p.prjcet_personliable.username }}</td>
                                                    {% else %}
                                                        <td>{{ p.prjcet_personliable.name }}</td>
                                                    {% endif %}
{#                                                    <td>{{ p.prjcet_participant.all|truncatewords:30 }}</td>#}

                                                    <td><a href="{% url 'project_particpant' p.pk %}">{{ p.prjcet_participant.count }}</a></td>

                                                    <td>{{ p.createtime }}</td>
                                                    <td>{{ p.updatetime }}</td>
                                                    <td>{{ p.updater }}</td>
                                                    <td>
                                                        <button  type="button" class="btn btn-success" onclick="window.location.href='{% url 'project_update' p.id %}';" ><i
                                                                class="feather icon-edit"></i>修改
                                                        </button>
                                                        <script>
                                                            function del() {
                                                                var msg = "您真的确定要删除吗？\n\n请确认！";
                                                                if (confirm(msg) == true) {
                                                                    return true;
                                                                } else {
                                                                    return false;
                                                                }
                                                            }
                                                        </script>
                                                        <button href="#" type="button" class="btn btn-danger" onclick="javascript:return del();"><i
                                                                class=" feather icon-trash-2
                                                        "></i>删除
                                                        </button>
                                                    </td>

                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class='col-4'>
                                            <a>合计 {{ count_total }} 条</a>
                                        </div>
                                        <div class='col-8'>
                                            {% show_pagination %}
                                        </div>
                                        <div class='col-8'>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}