{% extends "layouts/base.html" %}
{% load project_extras  static %}
{% block title %}  部署信息 {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="page-header">
                <div class="page-block">
                    <!-- Title -->
                    <div class="row align-items-center">

                    </div>
                </div>
            </div>
            <br>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!-- [ basic-table ] start -->
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="m-b-10">
                                        <span><i class="feather icon-box">  <a
                                                href="{% url 'prlist' %}">项目列表</a></i></span>
                                    </h5>
                                    <span><i class="fa fa-map-marker"></i> {{ project_dev.project_name }}  部署信息</span>
                                </div>


                                <div class="card-block ">
                                    <div class='row'>
                                        <div class="col-12 d-flex justify-content-center text-center">
                                            <table class="table table-sm  ">
                                                <thead class="thead-dark">
                                                <tr>
                                                    <th>部署名称</th>
                                                    <th>项目别名</th>
                                                    <th>部署路径</th>
                                                    <th>部署描述</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>{{ project_dev.deployinfos.prjname }}</td>
                                                    <td>{{ project_dev.deployinfos.prjalias }}</td>
                                                    <td>{{ project_dev.deployinfos.deploypath }}</td>
                                                    <td>{{ project_dev.deployinfos.depldescr }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <a href="{% url 'prlist' %}" class='btn btn-primary'>返回列表</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}